*{
    margin: 0;
}
.body{
    background-color:linen;
    text-align:center;
    font-size: 1.5rem;
}
.box{
    display: flex;
    flex-wrap: wrap;
}
.element1{
    height: 300px;
    width: 300px;
    background-color: rgb(249, 16, 218);
    margin: 10px;
}
 .element2{
    height: 300px;
    width: 300px;
    background-color: rgb(195, 0, 255);
    margin: 10px
} 